
          <img src = "../img/Siz_syr_teatr.jpg">
          <p>"Siz syr teatr" by Bgabel at wikivoyage shared. Licensed under CC BY-SA 3.0 via Wikimedia Commons - http://commons.wikimedia.org/wiki/File:Siz_syr_teatr.jpg#mediaviewer/File:Siz_syr_teatr.jpg</p>
       