<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ryan's App</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/starter-template.css" rel="stylesheet">
    <link href="../css/grid.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Project 4</a>
        </div>

      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-8 ">
          <%= yield %>
        </div>
        <div class="col-md-4 ">
          
          <p>Sed non diam sit amet nunc pharetra fringilla. Aenean ac bibendum dolor, a interdum lacus. Duis nunc libero, tristique consectetur mattis eu, finibus sit amet dolor. Aenean tempus mauris sed rhoncus aliquam. Fusce consequat diam sed sem auctor, eu aliquet nulla scelerisque. Sed malesuada ipsum leo. Cras scelerisque sapien ut ipsum faucibus, nec condimentum arcu aliquet. Etiam tincidunt velit vel lorem commodo, ut cursus nisl sodales.

          Proin vel maximus massa, id consequat felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus egestas justo sed vulputate accumsan. Pellentesque posuere dolor vitae justo interdum dignissim. Aliquam enim justo, varius mattis mattis ultricies, luctus ac mauris. Aenean sit amet velit tincidunt, lobortis odio sit amet, pharetra libero. Sed tincidunt, lorem vel eleifend tempor, nulla erat sollicitudin libero, at pellentesque ipsum urna ac ipsum. Donec ultrices convallis metus, non semper leo tincidunt sed. Donec lacinia metus quis viverra pharetra.

          Aenean vitae nunc convallis, facilisis nunc eget, mattis orci. Proin ornare auctor nibh at pretium. Fusce tempor sed risus quis tristique. In ipsum ipsum, euismod a velit ut, pharetra faucibus diam. Integer sodales iaculis mauris, vel semper dui efficitur aliquet. Donec auctor elementum mauris a tempor. Nulla tempor vitae lorem quis fermentum. Praesent nec odio justo. Cras semper, diam sed posuere pharetra, massa mauris lobortis lacus, sit amet euismod lorem dolor bibendum lacus. Curabitur egestas luctus tellus nec venenatis. Maecenas egestas ligula eget nisi faucibus, eu luctus tortor pulvinar. Donec rhoncus dignissim nibh, ut dictum erat ornare non. Praesent et erat maximus sapien hendrerit feugiat.</p>
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>